.manage-request {
    padding: 20px 0;

    .header-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        
        .btn-export {
            background-color: #039318;
            color: white;
            padding: 8px 16px;
            border-radius: 6px;
        }
        h3 {
            color: #254a93; // màu xanh dương đậm, thể hiện sự tin cậy
            font-size: 24px; // to hơn chút để dễ nhìn
            font-weight: 700;
            margin-bottom: 16px;
            border-left: 5px solid #254a93;
            padding-left: 12px;
            line-height: 1.4;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            letter-spacing: 0.5px;
        }
    }
}

select,
button,
input {
    border: none;
    outline: none;
    background-color: transparent;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.form-group {
  display: flex;
  gap: 10px;
  align-items: end;

  label {
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #333;
  }

  select {
    padding: 0.5rem 0.75rem;
    font-size: 0.95rem;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #fff;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      border-color: #3182ce;
      box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.2);
    }
  }
}
