table {
    width: 100%;
    font-size: 15px;
    text-align: center;
    thead {
        background-color: #F9E3B6;
    }
    th {
        font-weight: 500;
        padding: 8px;
    }

    .text-status {
        padding: 4px 14px;
        border-radius: 12px;
        display: inline-block;

        &.approved {
            background-color: #e6f4ea;
            color: #2e7d32;
            // border: 1px solid #2e7d32;
        }

        &.rejected {
            background-color: #fdecea;
            color: #c62828;
            // border: 1px solid #c62828;
        }

        &.pending {
            background-color: #fff8e1;
            color: #ef6c00;
            // border: 1px solid #ef6c00;
        }
        }


    td {
        padding: 8px;
    }

    .icons {
        display: flex;
        gap: 15px;
        justify-content: center;

        button {
            display: block;
            cursor: pointer;
        }

        .btn-del {
            color: #ca0a0a;
        }

        .btn-update {
            color: #624DE3;
        }

        .btn-view {
            color: #0fa341;
        }
    }

}

table, td, th {
    border: 1px solid #666;
    border-collapse: collapse;
}