@import '~normalize.css';

.menu-item {
    display: flex; /* đổi thành flex để căn thẳng hàng */
    align-items: center; /* căn giữa theo chiều dọc */
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    transition: all 0.2s ease;

    padding: 12px 16px;
    background-color: #f9f9f9;
    color: #000;
    font-weight: bold;

    &:hover {
        background-color: #eee;
    }
    &:hover span {
        color: rgb(255, 255, 255);
    }
    /* Style riêng cho V2 và V3 */
    .menu-v2 &,
    .menu-v3 & {
        padding: 12px 20px;
        background-color: transparent;
        color: #333;
        font-weight: 300;
        font-size: 15px;

        &:hover {
            background-color: #be8a4b;
            color: white;
        }
    }

    span {
        display: inline-flex; /* để icon cũng dùng flex, giữ cân chỉnh */
        align-items: center; /* căn icon giữa theo chiều dọc */
        margin-right: 6px;
        color: #555;
        font-weight: normal;
    }
}

.menu-popper {
    // Tùy chỉnh nếu cần
}

.menu-body {
    overflow-y: auto;
}

// Dòng phân cách giữa các mục
.separate {
    border-top: 1px solid #ccc;

    .menu-v2 & {
        border-top: 1px solid #ddd;
    }
}

// Header
.header {
    position: relative;
    flex-shrink: 0;
    height: 50px;
    margin-top: -8px;

    .menu-v2 & {
        display: none; // Ẩn trong menu V2
    }
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
