.footer {
    background-color: #0a314d;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: auto;
    width: 100%;
}
.footer-container {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.footer-column {
    max-width: 30%;
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
